<div class="px-10">
    <p>
        We need you to create an account so you can follow up with your properties submission later
    </p>

    <div class="h-10"></div>
    <form [formGroup]="signUpForm" *ngIf="!isLogin">
        <div>
            <label class="label">
        <span class="label-text">Email</span>
          </label>
            <input formControlName="email" type="email" placeholder="Your email address" class="input input-warning input-bordered" required>
        </div>

        <div>
            <label class="label">
      <span class="label-text">Password</span>
        </label>
            <input formControlName="password" type="password" class="input input-warning input-bordered" required>
        </div>

        <div>
            <label class="label">
    <span class="label-text">Confirm</span>
      </label>
            <input formControlName="passwordConfirmation" type="password" class="input input-warning input-bordered" required>
        </div>
        <div class="h-5"></div>
        <button (click)="signUp()" class="btn btn-large">Forward</button>

    </form>

    <form *ngIf="isLogin">
        <div>
            <label class="label">
    <span class="label-text">Email</span>
      </label>
            <input type="email" placeholder="Your email address" class="input input-warning input-bordered">
        </div>

        <div>
            <label class="label">
  <span class="label-text">Password</span>
    </label>
            <input type="email" class="input input-warning input-bordered">
        </div>

    </form>

    <div class="h-10"></div>
</div>