<div class="px-10">
    <p>
        Identify yourself with an account so you can follow on with your propety submission process
    </p>

    <div class="h-10"></div>
    <div class="form-control grid  grid-flow-row-dense  sm:grid-cols-1 md:grid-cols-2 gap-y-5">
        <div>
            <label class="label">
        <span class="label-text">First name</span>
          </label>
            <input type="text" placeholder="username" class="input input-warning input-bordered">
        </div>
        <div>
            <label class="label">
          <span class="label-text">Last name</span>
        </label>
            <input type="text" placeholder="username" class="input input-warning input-bordered">
        </div>

        <div>
            <label class="label">
      <span class="label-text">Email</span>
        </label>
            <input type="email" placeholder="Your email address" class="input input-warning input-bordered">
        </div>

        <div>
            <label class="label">
      <span class="label-text">Phone</span>
        </label>
            <input type="tel" placeholder="+212 623342423" class="input input-warning input-bordered">
        </div>

        <div>
            <label class="label">
          <span class="label-text">Address Line </span>
        </label>
            <input type="text" placeholder="username" class="input input-warning input-bordered">
        </div>


        <div>
            <label class="label">
        <span class="label-text"> Zip Code </span>
      </label>
            <input type="text" placeholder="username" class="input input-warning input-bordered">
        </div>

    </div>
    <div class="h-10"></div>
    <button routerLink="/submission/accountverify"  class="btn btn-large">Forward</button>
  </div>
