<div data-aos="fade-up"
data-aos-anchor-placement="top-bottom" class="w-full bg-white px-20 py-20 grid sm:grid-cols-1 md:grid-cols-2">
    <div data-aos="fade-right"
    data-aos-anchor-placement="top-bottom" *ngIf="reversed">
        <img class="w-4/5 h-auto" src="{{ image }}" alt="">
    </div>
    <div data-aos="fade-up"
    data-aos-anchor-placement="center-bottom" class="px-10 pt-20">

        <p class="text-5xl font-semibold text-gray-900">
            {{ title }}
        </p>
        <div class="h-10"></div>
        <p class="text-lg text-gray-700">
            {{ text }}
        </p>
    </div>
    <div data-aos="fade-up"
     data-aos-anchor-placement="top-bottom" *ngIf="!reversed">
        <img class="w-4/5 h-auto ml-20" src="{{ image }}" alt="">
    </div>
</div>
