<div style="z-index: 3000;" class="navbar shadow-lg  mb-2 fixed  w-full bg-gradient-to-r backdrop-blur-lg from-purple-500 to-purple-700  hover:to-yellow-500 text-neutral-content ">
    <div class="px-2 mx-2 navbar-start">
      <a routerLink="/">  <span class="text-lg font-bold">OverChain</span> </a>
    </div>
    <div class="hidden px-2 lg:flex">
        <div class="flex items-stretch">
          <app-navbar-item routerLink="/" [routeName]="'Home'">  </app-navbar-item>
          <app-navbar-item routerLink="/submission/register" [routeName]="'Sell'">  </app-navbar-item>
          <app-navbar-item routerLink="/Marketplace" class="ml-4 rounded-lg" [routeName]="'Marketplace'"> </app-navbar-item>
        </div>
    </div>
</div>
