<form [formGroup]="loginForm" class="h-full w-2/4 py-48 mx-auto flex flex-col space-y-4 justify-center">
    <div class="my-8 text-center">
        <p class="text-4xl font-bold">
            OverChain Authorization
        </p>
    </div>
    <input formControlName="username" type="text" placeholder="Username" class="input input-warning input-bordered">
    <input formControlName="password" type="password" placeholder="Password" class="input input-warning input-bordered">
    <button (click)='login()' [disabled]="!canSubmit" class="btn btn-primary ">Login</button>


</form>