<div class="flex space-x-10">
    <app-steps [stepNum]=2></app-steps>
    <div>
        <p>
            Identify yourself with an account so you can follow on with your propety submission process
        </p>

        <div class="h-10"></div>
        <form *ngIf="!isLoading" [formGroup]="verifyForm" class="form-control grid  grid-flow-row-dense  sm:grid-cols-1 md:grid-cols-2 gap-y-2">
            <div>
                <label class="label">
                <span class="label-text">First name</span>
                </label>
                <input formControlName="firstName" type="text" placeholder="Your real first name" class="input input-warning input-bordered">
                <div *ngIf="firstName?.invalid && firstName?.touched" class="error">Invalid first name</div>
            </div>
            <div>
                <label class="label">
                <span class="label-text">Last name</span>
                </label>
                <input formControlName="lastName" type="text" placeholder="Your real last name" class="input input-warning input-bordered">
                <div *ngIf="lastName?.invalid && lastName?.touched" class="error">Invalid last name</div>

            </div>

            <div>
                <label class="label">
                <span class="label-text">Phone</span>
                </label>
                <input formControlName="phone" type="tel" placeholder="+212 623342423" class="input input-warning input-bordered">
                <div *ngIf="phone?.invalid && phone?.touched" class="error">Invalid phone number</div>

            </div>
            <div>
                <label class="label">
                <span class="label-text">Address Line </span>
                </label>
                <input formControlName="address" type="text" placeholder="Address Line" class="input input-warning input-bordered">
                <div *ngIf="address?.invalid && address?.touched" class="error">Invalid address line</div>

            </div>

            <div>
                <label class="label">
                <span class="label-text">ID / Passport Card (front)</span>
                </label>
                <input type="file" placeholder="username" class="input input-warning input-bordered">

            </div>

            <div>
                <label class="label">
              <span class="label-text">ID / Passport Card (back)</span>
              </label>
                <input type="file" placeholder="username" class="input input-warning input-bordered">
            </div>

            <div>
                <label class="label">
                <span class="label-text">Taxes bill</span>
                </label>
                <input type="file" placeholder="username" class="input input-warning input-bordered">
            </div>

            <div>
                <label class="label">
              <span class="label-text">Additional Documents (optional)</span>
              </label>
                <input type="file" placeholder="username" class="input input-warning input-bordered" multiple>
            </div>

        </form>
        <div *ngIf="isLoading" class="btn btn-lg loading h-28 w-28">

        </div>

        <div class="h-10"></div>

        <button routerLink="/submission/register" class="btn btn-large">Back</button>
        <button routerLink="/submission/createcontract" class="btn btn-large">Forward</button>

    </div>

</div>
