<div class="flex space-x-10">
    <app-steps [stepNum]=2></app-steps>
    <div *ngIf="accountService.currentUser == null">
        <p>
            Identify yourself with an account so you can follow on with your propety submission process
        </p>

        <div class="h-10"></div>
        <form *ngIf="!isLoading" [formGroup]="verifyForm" class="form-control grid sm:grid-cols-1 md:grid-cols-2 gap-y-2">
            <div>
                <label class="label">
                <span class="label-text">First name</span>
                </label>
                <input formControlName="firstName" type="text" placeholder="Your real first name" class="input input-warning input-bordered">
                <div *ngIf="firstName?.invalid && firstName?.touched" class="error">Invalid first name</div>
            </div>
            <div>
                <label class="label">
                <span class="label-text">Last name</span>
                </label>
                <input formControlName="lastName" type="text" placeholder="Your real last name" class="input input-warning input-bordered">
                <div *ngIf="lastName?.invalid && lastName?.touched" class="error">Invalid last name</div>

            </div>

            <div>
                <label class="label">
                <span class="label-text">Phone</span>
                </label>
                <input formControlName="phone" type="tel" placeholder="+212 623342423" class="input input-warning input-bordered">
                <div *ngIf="phone?.invalid && phone?.touched" class="error">Invalid phone number</div>

            </div>
            <div>
                <label class="label">
                <span class="label-text">Address Line </span>
                </label>
                <input formControlName="address" type="text" placeholder="Address Line" class="input input-warning input-bordered">
                <div *ngIf="address?.invalid && address?.touched" class="error">Invalid address line</div>

            </div>

            <app-upload-field class="col-span-2" [folder]="'IDCARD-FRONT'" [label]="'ID Card (Front)'">
            </app-upload-field>
            <app-upload-field class="col-span-2" [folder]="'IDCARD-BACK'" [label]="'ID Card (Back)'">
            </app-upload-field>
            <app-upload-field class="col-span-2" [folder]="'TAXES-BILL'" [label]="'Taxes Bill'">
            </app-upload-field>
        </form>



        <div *ngIf="isLoading" class="btn btn-lg loading h-28 w-28">
        </div>

        <div class="h-10"></div>
        <div class="flex space-x-2">
            <button (click)="register()" [disabled]="!canSubmit" class="btn btn-large btn-primary">Proceed</button>
            <label for="my-modal-2" class="btn modal-button" >Change Account</label> 
                    <input type="checkbox" id="my-modal-2" class="modal-toggle"> 
                    <div class="modal">
                    <div class="modal-box">
                        <p>Every property registration requires an account for the owner, if you change the current account
                            you will have to create and verify a new one with different identity
                        </p> 
                        <div class="modal-action">
                        <label (click)="changeAccount()" for="my-modal-2" class="btn btn-primary">Sign out</label> 
                        <label for="my-modal-2" class="btn">Cancel</label>
                        </div>
                    </div>
                    </div>
         
        </div>

    </div>

    <div *ngIf="accountService.currentUser">
        {{ accountService.currentUser.address }}
    </div>


</div>
