<div class="grid grid-cols-2 space-x-5 w-full py-24 px-10 text-white">
    <div class="px-5 py-10">
        <p class="text-6xl font-extrabold">
            Find your dream property easily and comfortably.
        </p>
        <div class="h-10"></div>
        <p class="text-xl">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
        </p>
        <div class="h-10"></div>
        <button class="btn w-32 bg-yellow-500 hover:bg-purple-800 border-none text-white"> Sign up </button>
    </div>
    <div class="px-20 py-10 -mt-5">
        <img src="../../../../../assets/images/landing-image.1.png" alt="">
    </div>
</div>