<div *ngIf="type==0">
    <label class="label">
     <span class="label-text">{{ label }}</span>
    </label>
    <div class="flex space-x-1">
        <input #fileInput (change)='selectFile($event)' type="file" class="input input-warning input-bordered" required>
        <button *ngIf="!uploaded" class="btn" [disabled]="!selectedFiles" (click)="uploadAccountFile()">Upload</button>
        <button *ngIf="uploaded" class="btn btn-error" (click)="deleteAccountFileUpload()">Cancel</button>

    </div>
    <div *ngIf="currentFileUpload">
        <progress class="progress progress-primary" value="{{ percentage }}" max="100"></progress>
    </div>


</div>
<div *ngIf="type==1">
    <label class="label">
     <span class="label-text">{{ label }}</span>
    </label>
    <div class="flex space-x-1">
        <input #fileInput (change)='selectFile($event)' type="file" class="input input-warning input-bordered" required>
        <button *ngIf="!uploaded" class="btn" [disabled]="!selectedFiles" (click)="uploadPropertyFile()">Upload</button>
        <button *ngIf="uploaded" class="btn btn-error" (click)="deletePropertyFileUpload()">Cancel</button>

    </div>
    <div *ngIf="currentFileUpload">
        <progress class="progress progress-primary" value="{{ percentage }}" max="100"></progress>
    </div>


</div>
