<!-- <div class="container py-16">

    <div class="col-xs-12 place-items-center">

        <table class="table  ">
            <thead>
                <tr>
                    <td *ngFor="let title of titles">
                        {{ title }}
                    </td>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let coin of coins; let i = index">
                    <td class="font-bold">{{ i + 1 }}</td>
                    <td class="font-bold">
                        <img [src]="coin.image" alt="{{ coin.name }}" style="width: 2rem" class="img-fluid me-4" />
                        <span class="uppercase ">{{ coin.symbol }}</span>
                    </td>
                    <td class="font-bold">$ {{ coin.current_price.toLocaleString() }}</td>

                    <td class="font-bold" [ngClass]="
              coin.price_change_percentage_24h > 0
                ? 'text-green-500	'
                : 'text-red-600	'
            ">
                        {{ coin.price_change_percentage_24h+" %" }}
                        <div *ngIf="coin.price_change_percentage_24h>0">
                            <svg class="h-6 w-6 text-green-500" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <polyline points="3 17 9 11 13 15 21 7" />  <polyline points="14 7 21 7 21 14" /></svg>                            </div>
                        <div *ngIf="coin.price_change_percentage_24h<0">
                            <svg class="h-6 w-6 text-red-500" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">  <polyline points="23 18 13.5 8.5 8.5 13.5 1 6" />  <polyline points="17 18 23 18 23 12" /></svg>
                        </div>
                    </td>

                    <td class="font-bold">
                        $ {{coin.market_cap.toLocaleString()}}
                    </td>

                    <td class="font-bold">{{ coin.total_volume.toLocaleString() }} {{ coin.symbol }}</td>
                </tr>
            </tbody>
        </table>
    </div>

</div> -->
