<div class="grid grid-cols-4 gap-x-5">
    <app-steps [stepNum]=4></app-steps>
    <div class="col-span-3">

        <p>
            Customize your smart contract
        </p>

        <div class="h-10"></div>
        <form *ngIf="!isLoading" [formGroup]="contractForm" class="form-control grid sm:grid-cols-1 md:grid-cols-2 gap-y-2">
            <div *ngIf="!metamaskService.accounts" class="col-span-2">
                <label class="label">
                  <span class="label-text">Connect your wallet</span>
                </label>
            <button class="btn btn-large btn-primary" (click)="connect()">Connect</button>

            </div>

          <div class="col-span-2">
                <label class="label">
                  <span class="label-text">Your Wallet ID (Seller)</span>
                </label>
                <input formControlName="wallet" type="text" placeholder="your wallet address" class="w-full input input-warning input-bordered" [value]="metamaskService.accounts" [attr.disabled]="true">
          </div>


            <div class="col-span-2">
                <label class="label">
            <span class="label-text">Property Price ETHER</span>
            </label>
                <label class="input-group input-group-md">
              <input formControlName="priceETH" type="number" min="0" placeholder="" class="input input-warning input-bordered">
                <span>USD</span>
              </label>
               <!-- convert usd => eth -->
              <div>  <span>ETH</span></div>
              <div *ngIf="priceETH?.invalid && priceETH?.touched" class="error">Invalid price</div>

            </div>


            <div class="col-span-2">
                <label class="label">
                  <span class="label-text">Minimum property price </span>
                </label>
                <label class="input-group input-group-md">

                  <input formControlName="priceETH" type="number" min="0" placeholder="" class="input input-warning input-bordered">
                <span>USD</span>

                <!-- convert usd => eth -->
            </label>
            <div><span>ETH</span></div>

              <div *ngIf="priceETH?.invalid && priceETH?.touched" class="error">Invalid price</div>

            </div>


        </form>



        <div *ngIf="isLoading" class="btn btn-lg loading h-28 w-28">
        </div>

        <div class="h-10"></div>

        <button class="btn btn-large">Back</button>


    </div>
</div>
