<div class="flex space-x-10">
    <app-steps [stepNum]=4></app-steps>
    <div>

        <p>
            Customize your smart contract
        </p>

        <div class="h-10"></div>
        <form *ngIf="!isLoading" [formGroup]="contractForm" class="form-control grid sm:grid-cols-1 md:grid-cols-2 gap-y-2">
            <div *ngIf="!metamaskService.accounts" class="col-span-2">
                <label class="label">
                  <span class="label-text">Connect your wallet</span>
                </label>
            <button class="btn btn-large btn-primary" (click)="connect()">Connect</button>

            </div>

          <div class="col-span-2">
                <label class="label">
                  <span class="label-text">Your Wallet Address</span>
                </label>
                <input formControlName="wallet" type="text" placeholder="your wallet address" class="w-full input input-warning input-bordered" [value]="metamaskService.accounts" [attr.disabled]="true">
          </div>


            <div>
                <label class="label">
            <span class="label-text">Property Price</span>
            </label>
                <label class="input-group input-group-md">
              <input (change)="convertUsePrice()" formControlName="price" type="number" min="0" class="input input-warning input-bordered">
                <span>USD</span>
              </label>
              <div class="h-5"></div>
               <!-- convert usd => eth -->
              <div>  ETH <span *ngIf="convertedEthValue" [innerText]="convertedEthValue"></span></div>
              <div *ngIf="price?.invalid && price?.touched" class="error">Invalid price</div>

            </div>

          <p class="my-4 col-span-2"> Choose Your Smart contract type according to yout needs </p>

          <div class="flex space-x-10 col-span-2">
            <div class="form-control">
              <label class="cursor-pointer label">
                <span class="label-text text-base">Basic</span> 
                <input (change)="changeSmartContractType()" formControlName="type" [value]="0" type="radio" name="type" class="ml-5 radio radio-primary">
              </label>
            </div>
            <div class="form-control">
              <label class="cursor-pointer label">
                <span class="label-text text-base">White Listed</span> 
                <input (change)="changeSmartContractType()" formControlName="type" [value]="1" type="radio" name="type" class="ml-5 radio radio-primary">
              </label>
            </div> 
            <div class="form-control">
              <label class="cursor-pointer label">
                <span class="label-text text-base">Black Listed</span> 
                <input (change)="changeSmartContractType()" formControlName="type" [value]="2" type="radio" name="type" class="ml-5 radio radio-primary">
              </label>
            </div> 
          </div>
          <div *ngIf="smartContractType==1" class="col-span-2">
            <div class="flex space-x-4">
              <p class="mt-5 font-bold text-lg">
                White list wallet addresses:
              </p>
              <label for="addWhiteWallet" class="btn btn-primary btn-circle mt-2 modal-button" >+</label> 
                <input type="checkbox" id="addWhiteWallet" class="modal-toggle"> 
                <div class="modal">
                <div class="modal-box">
                  <input type="text" formControlName="listedWallet" placeholder="Wallet adress" class="w-full input input-warning input-bordered">
                <div class="modal-action">
                <label for="addWhiteWallet" (click)="addWalletToList()" class="btn btn-primary">Add Wallet</label> 
                <label for="addWhiteWallet" class="btn">Cancel</label>
                </div>
                </div>
                </div>
            </div>
            <div *ngFor="let addr of whiteList" class="flex space-x-2">
              <p class="text-lg font-semibold mx-5 px-5">
                {{ addr }}
              </p>
              <div (click)="removeWalletFromList(addr)" class="btn btn-error btn-circle btn-xs">-</div>
              
              
            </div>  
          </div>

          <div *ngIf="smartContractType==2" class="col-span-2">
            <div class="flex space-x-4">
              <p class="mt-5 font-bold text-lg">
                Black list wallet addresses:
              </p>
              <label for="addBlackWallet" class="btn btn-primary btn-circle mt-2 modal-button" >+</label> 
                <input type="checkbox" id="addBlackWallet" class="modal-toggle"> 
                <div class="modal">
                <div class="modal-box">
                  <input type="text" formControlName="listedWallet" placeholder="Wallet adress" class="w-full input input-warning input-bordered">
                <div class="modal-action">
                <label for="addBlackWallet" (click)="addWalletToList()" class="btn btn-primary">Add Wallet</label> 
                <label for="addBlackWallet" class="btn">Cancel</label>
                </div>
                </div>
                </div>
            </div>
            <div *ngFor="let addr of blackList" class="flex space-x-2">
              <p class="text-lg font-semibold mx-5 px-5">
                {{addr}}
              </p>
              <div (click)="removeWalletFromList(addr)" class="btn btn-error btn-circle btn-xs">-</div>
              
              
            </div>  
          </div>


        </form>

        


        <div *ngIf="isLoading" class="btn btn-lg loading h-28 w-28">
        </div>

        <div class="h-10"></div>

        <button [disabled]="!canSubmit" (click)="submitContract()" class="btn btn- btn-primary mr-4">Submit Contract</button>
        <button [routerLink]="'/submission/registerproperty'" class="btn btn-large">Back</button>


    </div>
</div>
