<div class="px-4 text-white bg-gray-900 mx-5 my-10 transform translate-y-4 hover:translate-y-8 hover:shadow-xl duration-500 ease-in-out rounded-box py-5 w-full">
    <div class="mx-auto grid grid-cols-2 gap-4 w-full">
        <div>
            <p class='font-semibold'>
                Code:
            </p>
            <p>
                {{ property?.code }}
            </p>
        </div>
        <div>
            <p class='font-semibold'>
                Title:
            </p>
            <p>
                {{ property?.title }}
            </p>
        </div>
        <div>
            <p class='font-semibold'>
                Description:
            </p>
            <p>
                {{ property?.description }}
            </p>
        </div>

        <div>
            <p class='font-semibold'>
                Address:
            </p>
            <p>
                {{ property?.address }}
            </p>
        </div>

        <div *ngIf="property?.contractId">
            <p class='font-semibold'>
                Contract Id:
            </p>
            <p>
                {{ property?.contractId }}
            </p>
        </div>

    </div>
    <div class="h-10"></div>
    <div class="flex justify-between">
        <p *ngIf="!property?.verified" class="text-red-600 my-auto"> Unverified </p>
        <p *ngIf="property?.verified" class="text-green-600 my-auto"> Verified </p>
        <button (click)="adminService.downloadPropertyFolder(property?.code!, property?.userId!)" class="btn btn-primary"> Download property files </button >
      <button *ngIf="!property?.verified" (click)="verifyProperty()" class="space-x-2 btn btn-success">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="w-6 h-6 stroke-current">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
      </svg> <span>Verify</span></button>
    </div>

</div>
