<div class="w-full ">
    <div class="flex space-x-4">
        <div class="avatar">
            <div class="mb-8 rounded-btn w-24 h-24">
                <img [src]="currentAuthUser?.photoURL" alt="" srcset="">
            </div>
        </div>
        <div class="flex flex-col">
            <p>
                {{currentAuthUser?.displayName}}
            </p>

        </div>


    </div>
    <div class="h-5"></div>
    <div class="grid grid-cols-2 space-y-2">
        <p>
            First Name:
        </p>
        <p>
            {{currenUser?.firstName}}
        </p>
        <p>
            Last Name:
        </p>
        <p>
            {{currenUser?.lastName}}
        </p>
        <p>
            Phone:
        </p>
        <p>
            {{currenUser?.phone}}
        </p>
        <p>
            Address:
        </p>
        <p>
            {{currenUser?.address}}
        </p>
    </div>

    <div class="h-10"> </div>

    <p>
        Account Status :
    </p>
    <p *ngIf="currenUser?.verified" class="text-green-600 text-lg">
        Verified
    </p>

    <p *ngIf="!currenUser?.verified" class="text-red-600 text-lg">
        Unverified (Account is under verification)

    </p>


</div>
