<div class="px-4 text-white bg-gray-900 mx-5 my-10 transform translate-y-4 hover:translate-y-8 hover:shadow-xl duration-500 ease-in-out rounded-box py-5 w-full">
    <div class="mx-auto grid grid-cols-2 gap-4 w-full">
        <div>
            <p class='font-semibold'>
                First Name:
            </p>
            <p>
                {{ user?.firstName }}
            </p>
        </div>
        <div>
            <p class='font-semibold'>
                Last Name:
            </p>
            <p>
                {{ user?.lastName }}
            </p>
        </div>
        <div>
            <p class='font-semibold'>
                Email:
            </p>
            <p>
                {{ user?.email }}
            </p>
        </div>

        <div>
            <p class='font-semibold'>
                Phone:
            </p>
            <p>
                {{ user?.phone }}
            </p>
        </div>

        <div>
            <p class='font-semibold'>
                Address:
            </p>
            <p>
                {{ user?.address }}
            </p>
        </div>

    </div>
    <div class="h-10"></div>
    <div class="flex justify-between">
        <p *ngIf="!user?.verified" class="text-red-600 my-auto"> Unverified </p>
        <p *ngIf="user?.verified" class="text-green-600 my-auto"> Verified </p>
        <button (click)="adminService.downloadUserFolder(user?.uid!)" class="btn btn-primary"> Download user files </button >
        <button *ngIf="!user?.verified" (click)="verifyUser()" class="space-x-2 btn btn-success">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="w-6 h-6 stroke-current">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
        </svg> <span>Verify</span></button>
    </div>

</div>
