<div data-aos="fade-up"
data-aos-anchor-placement="top-center" class="bg-white rounded-md h-80 shadow-md px-5 py-10">
    <img :src='{{ image }}' alt="" class="mx-auto w-28 h-auto">
    <div class="h-5"></div>
    <p class="text-xl relative font-semibold text-gray-900">
        {{ title }}
        <span class="absolute h-1 bg-purple-700 rounded-lg left-5 right-5 -bottom-2">

        </span>
    </p>

    <div class="h-5"></div>

    <p class="text-lg text-gray-700">
        {{ text }}
    </p>
</div>
