<div class="w-full flex justify-between p-4 bg-gray-900">
    <label for="my-drawer" class="btn btn-primary drawer-button">:::</label>
    <p class="font-semibold text-white uppercase my-auto">{{ accountService.currentAuthUser?.email }}</p>
</div>

<div class="rounded-lg shadow bg-base-200 drawer min-h-screen">
    <input id="my-drawer" type="checkbox" class="drawer-toggle">
    <div class="drawer-content">
        <router-outlet></router-outlet>

    </div>
    <div class="drawer-side">
        <label for="my-drawer" class="drawer-overlay h-full"></label>
        <ul class="menu p-4 overflow-y-auto w-56 bg-base-100 text-base-content">
            <li>
                <a routerLink="/admin/dashboard/users">Users</a>
            </li>
            <li>
                <a routerLink="/admin/dashboard/properties">Properties</a>
            </li>
            <li>
                <a routerLink="/admin/dashboard/contracts">Contracts</a>
            </li>
            <li>
                <a>Log out</a>
            </li>
        </ul>
    </div>
</div>
